body{
    margin:0;
    font-family:Arial;
}

.container{
    display:flex;
    height:100vh;
}

.left{
    width:40%;
    background:#dcdcdc;

    display:flex;
    justify-content:center;
    align-items:center;
}

.right{
    width:60%;
    background:#0d1b2a;

    color:white;

    padding:100px;
}

button{
    padding:15px 30px;

    background:gold;

    border:none;

    font-size:18px;

    cursor:pointer;
}